# Busqueda de bases de datos.

In [8]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv("/Users/familiavs/Documents/GitHub/python-ml-course/datasets/Videojuegos/vgsales.csv", encoding= 'unicode_escape')

In [10]:
data.head()

,Rank,Nombre,Plataforma,Ao,Genero,Editor,Ventas_MX,EU_Ventas,JP_Ventas,Francia_Ventas,Ventas_Mundiales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
Rank                16598 non-null int64
Nombre              16598 non-null object
Plataforma          16598 non-null object
Ao                 16327 non-null float64
Genero              16598 non-null object
Editor              16540 non-null object
Ventas_MX           16598 non-null float64
EU_Ventas           16598 non-null float64
JP_Ventas           16598 non-null float64
Francia_Ventas      16598 non-null float64
Ventas_Mundiales    16598 non-null float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [13]:
data.describe()

,Rank,Ao,Ventas_MX,EU_Ventas,JP_Ventas,Francia_Ventas,Ventas_Mundiales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [14]:
#Si solo queremos usar las 4 primeras lineas podemos hacer esto
data.head(n=5)

,Rank,Nombre,Plataforma,Ao,Genero,Editor,Ventas_MX,EU_Ventas,JP_Ventas,Francia_Ventas,Ventas_Mundiales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [16]:
df1 = data.loc[(data['Genero'=='GP'])]

KeyError: False