# Seleccion de columnas y renglones de un Data Frame

In [6]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_csv("/Users/familiavs/Documents/GitHub/python-ml-course/datasets/Graficas./totalescv.csv")

In [8]:
data.head()

,date,World,Afghanistan,Albania,Algeria,Andorra,Antigua and Barbuda,Argentina,Armenia,Australia,...,Trinidad and Tobago,Tunisia,Turkey,Ukraine,United Arab Emirates,United Kingdom,United States,Vatican,Venezuela,Vietnam
0,2020-01-21,282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-22,314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-23,581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
3,2020-01-24,846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,2.0
4,2020-01-25,1320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,2.0

In [9]:
#Reemplazamos los valores NaN con ceros para poder operar adecuadamente.
data.replace(np.nan,"0")

,date,World,Afghanistan,Albania,Algeria,Andorra,Antigua and Barbuda,Argentina,Armenia,Australia,...,Trinidad and Tobago,Tunisia,Turkey,Ukraine,United Arab Emirates,United Kingdom,United States,Vatican,Venezuela,Vietnam
0,2020-01-21,282,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-01-22,314,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-01-23,581,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,2020-01-24,846,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2
4,2020-01-25,1320,0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,2,0,0,2
5,2020-01-26,2014,0,0,0,0,0,0,0,4,...,0,0,0,0,0,0,2,0,0,2
6,2020-01-27,2798,0,0,0,0,0,0,0,4,...,0,0,0,0,0,0,5,0,0,2
7,2020-01-28,4593,0,0,0,0,0,0,0,5,...,0,0,0,0,0,0,5,0,0,2
8,2020-01-29,6065,0,0,0,0,0,0,0,7,...,0,0,0,0,4,0,5,0,0,2
9,2020-01-30,7818,0,0,0,0,0,0,0,7,...,0,0,0,0,4,0,5,0,0,2
10,2020-01-31,9826,0,0,0,0,0,0,0,9,...,0,0,0,0,4,0,6,0,0,5
11,2020-02-01,11953,0,0,0,0,0,0,0,12,...,0,0,0,0,4,2,7,0,0,6
12,2020-02-02,14557,0,0,0,0,0,0,0,12,...,0,0,0,0,5,2,8,0,0,7
13,2020-02-03,17391,0,0,0,0,0,0,0,12,...,0,0,0,0,5,2,11,0,0,8
14,2020-02-04,20630,0,0,0,0,0,0,0,12,...,0,0,0,0,5,2,11,0,0,9
15,2020-02-05,24544,0,0,0,0,0,0,0,13,...,0,0,0,0,5,2,11,0,0,10
16,2020-02-06,28276,0,0,0,0,0,0,0,14,...,0,0,0,0,5,2,12,0,0,10
17,2020-02-07,31481,0,0,0,0,0,0,0,15,...,0,0,0,0,5,3,12,0,0,12
18,2020-02-08,34886,0,0,0,0,0,0,0,15,...,0,0,0,0,7,3,12,0,0,13
19,2020-02-09,37558,0,0,0,0,0,0,0,15,...,0,0,0,0,7,3,12,0,0,14
20,2020-02-10,40554,0,0,0,0,0,0,0,15,...,0,0,0,0,7,4,12,0,0,14
21,2020-02-11,43103,0,0,0,0,0,0,0,15,...,0,0,0,0,8,8,13,0,0,15
22,2020-02-12,45171,0,0,0,0,0,0,0,15,...,0,0,0,0,8,8,13,0,0,15
23,2020-02-13,46997,0,0,0,0,0,0,0,15,...,0,0,0,0,8,9,14,0,0,16
24,2020-02-14,49053,0,0,0,0,0,0,0,15,...,0,0,0,0,8,9,15,0,0,16
25,2020-02-15,50580,0,0,0,0,0,0,0,15,...,0,0,0,0,8,9,15,0,0,16
26,2020-02-16,51857,0,0,0,0,0,0,0,15,...,0,0,0,0,8,9,15,0,0,16
27,2020-02-17,71429,0,0,0,0,0,0,0,15,...,0,0,0,0,9,9,15,0,0,16
28,2020-02-18,73332,0,0,0,0,0,0,0,15,...,0,0,0,0,9,9,15,0,0,16
29,2020-02-19,75204,0,0,0,0,0,0,0,15,...,0,0,0,0,9,9,15,0,0,16
30,2020-02-20,75748,0,0,0,0,0,0,0,15,...,0,0,0,0,9,9,15,0,0,16
31,2020-02-21,76769,0,0,0,0,0,0,0,17,...,0,0,0,0,9,9,15,0,0,16
32,2020-02-22,77794,0,0,0,0,0,0,0,21,...,0,0,0,0,11,9,35,0,0,16
33,2020-02-23,78811,0,0,0,0,0,0,0,22,...,0,0,0,0,13,9,35,0,0,16
34,2020-02-24,79331,0,0,0,0,0,0,0,22,...,0,0,0,0,13,9,35,0,0,16
35,2020-02-25,80239,1,0,0,0,0,0,0,22,...,0,0,0,0,13,13,53,0,0,16
36,2020-02-26,81109,1,0,1,0,0,0,0,23,...,0,0,0,0,13,13,53,0,0,16
37,2020-02-27,82294,1,0,1,0,0,0,0,23,...,0,0,0,0,13,13,59,0,0,16
38,2020-02-28,83652,1,0,1,0,0,0,0,23,...,0,0,0,0,19,16,59,0,0,16
39,2020-02-29,85403,1,0,1,0,0,0,0,24,...,0,0,0,0,19,20,62,0,0,16
40,2020-03-01,87137,1,0,1,0,0,0,0,25,...,0,0,0,0,19,23,62,0,0,16
41,2020-03-02,88948,1,0,1,0,0,0,1,27,...,0,0,0,0,21,36,62,0,0,16
42,2020-03-03,90869,1,0,5,1,0,0,1,33,...,0,1,0,0,21,39,64,0,0,16
43,2020-03-04,93090,1,0,5,1,0,1,1,43,...,0,1,0,1,27,51,108,0,0,16
44,2020-03-05,95324,1,0,12,1,0,1,1,57,...,0,1,0,1,27,89,129,0,0,16
45,2020-03-06,98192,1,0,12,1,0,1,1,57,...,0,1,0,1,27,118,148,0,0,16
46,2020-03-07,101927,1,0,17,1,0,2,1,62,...,0,1,0,1,45,167,213,1,0,17
47,2020-03-08,105592,4,0,17,1,0,9,1,74,...,0,1,0,1,45,210,213,1,0,21
48,2020-03-09,109577,4,2,20,1,0,12,1,77,...,0,2,0,1,45,277,213,1,0,30
49,2020-03-10,113702,4,2,20,1,0,12,1,92,...,0,2,0,1,59,323,472,1,0,31
50,2020-03-11,118319,4,10,20,1,0,17,1,112,...,0,6,0,1,74,373,696,1,0,35
51,2020-03-12,125260,7,10,25,1,0,19,1,122,...,0,6,1,1,74,460,987,1,0,39
52,2020-03-13,132758,7,23,25,1,0,31,1,140,...,0,7,1,3,85,594,1264,1,0,39
53,2020-03-14,142539,7,33,26,2,1,34,8,197,...,1,16,5,3,85,802,1678,1,2,48

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Columns: 138 entries, date to Vietnam
dtypes: float64(132), int64(5), object(1)
memory usage: 58.3+ KB

In [18]:
#Seleccion de renglones salteados con los que queremos rabajar
df3 data.iloc[[1,3,6],]

SyntaxError: invalid syntax (<ipython-input-18-f090e4d0f1b3>, line 2)

In [22]:
#Seleccion de columnas con ls que queremos trabajar
df3 = data.iloc[:,1:6]
df3.tail()

     World  Afghanistan  Albania  Algeria  Andorra
49  113702          4.0      2.0     20.0      1.0
50  118319          4.0     10.0     20.0      1.0
51  125260          7.0     10.0     25.0      1.0
52  132758          7.0     23.0     25.0      1.0
53  142539          7.0     33.0     26.0      2.0